body {
    background: url('../images/fondo.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.center {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #269E22;
    margin: 0 auto;
}

    .login-block h1 {
        text-align: center;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .login-block input {
        width: 100%;
        height: 42px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        font-size: 14px;
        font-family: Montserrat;
        padding: 0 20px 0 50px;
        outline: none;
    }

        .login-block input#UserName {
            background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#UserName:focus {
                background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input#Password {
            background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#Password:focus {
                background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #269E22;
        }

    .login-block button {
        width: 100%;
        height: 40px;
        background: #269E22;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #269E22;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Montserrat;
        outline: none;
        cursor: pointer;
    }

        .login-block button:hover {
            background: #14C40E;
        }


.login-block2 {
border-top: 5px solid #ff2b20;
}
.login-block2 input:active, .login-block2 input:focus {
border: 1px solid #ff2b20;
}
.login-block2 button {
border: 1px solid #ff2b20;
}